// out: ../../dist/style.min.css, compress: true


@import "../../assets/fontawesome/less/fontawesome.less";
@import "../../assets/fontawesome/less/solid.less";
@import "../../assets/fontawesome/less/brands.less";
@import "../../assets/Roboto/roboto.css";

@import "./theme.less";
@import "./switch.less";
@import "./tooltip.less";
@import "./layout.less";

html {
    height:100%;
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body {
    padding:0px;
    margin:0px;
    display:flex;
    font-family: "Roboto";
    background:var(--i-window-background);
}
.hide{
    display:none !important;
}